/*==================Tab Design=======================*/

p {
    color: #222;
}

.wa_fb_tabs {
    position: relative;
    margin: 0 auto;
    width: 100%;
    list-style: none;
    margin-top: 20px;
    /*bottom: 50px;*/
}

.wa_fb_tabs:after {
    display: table;
    clear: both;
    content: "";
}

.wa_fb_tabs li {
    float: left;
    width: 20%;
    display: block;
    border: 2px solid #CCC;
}

.wa_fb_tabs input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.wa_fb-tab-name {
    display: block;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    background: #fff;
    cursor: pointer;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #2CC185;
}

.wa_fb-tab-name:hover {
    background: #2CC185;
    color: white;
}

.wa_fb_tabs .wa_fb-tab-content {
    z-index: 2;
    display: none;
    overflow: hidden;
    width: 100%;
    font-size: 0.9rem;
    /*line-height: 5px;*/
    /*padding: 5px;*/
    position: absolute;
    left: 0;
    background: #fff;
    border: 2px solid #CCC;
}

.wa_fb_tabs [id^="tab"]:checked + label {
    background: #2CC185;
    color: white;
}

.wa_fb_tabs [id^="tab"]:checked ~ [id^="wa_fb-tab-content"] {
    display: block;
}


label.wa_fb_woo_label,.wa_fb_edd_label {
    display: inline-block;
    width: 162px;
    margin-left: 31px;
}

#wa_fb_pixel_id {
    padding: 8px 15px;
    border: 2px solid #ccc;
}

.wa_fb_btn_submit{
    background-color:#2CC185;
    color: #fff;
    border: none;
    padding: 8px 15px;
}

div#wa_fb-tab-content2,div#wa_fb-tab-content4 {
    min-height: 200px;
}

/*
.wa_fb_pixel_id{
    width: 250px;
    margin: auto;
    display: block;
    padding: 50px;
}
*/



/* The Modal (background) */
.wa_fb_customevent_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.wa_fb_customevent_model_content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    min-height:400px;
    padding: 5px 5px;
}

/* The Close Button */
.wa_fb_close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.wa_fb_close:hover,
.wa_fb_close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#wa_fb_customevent_state,.wa_fb_input{
    width: 209px;
}

.wa_fb_popup_border {
    width: 100%;
    height: 100%;
    border: 1px solid #e5e5e5;
    min-height: 400px;
}